* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background: #333;
  color: #fff;
}

nav {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

nav ul {
    list-style: none;
    padding-top: 1rem;
}

a {
    display: block;
    text-align: center;
    font-size: 1.25rem;
    color: #fff;
    text-decoration: none;
    padding: 1rem;
}

#showcase {
    height: 100vh;
    background: #333;
}

.text {
  font-size: x-large;
  text-align: justify;
  padding: 0em 8.25em 6.5em 6.5em;
}

.text-topic {
  margin-top: 2em;
}

.page-landing{
  flex-direction: column;
  height: 100%;
  background-color: #333;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (min-width: 576px) {
    nav {
        padding: 1rem;
    }

    nav ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        padding-top: 0;
    }

    a {
        font-size: 1rem;
        text-transform: uppercase;
    }
  
    a:hover {
        opacity: 0.7;
    }
}
